{% extends 'common/common.html'%}
{% block main%}
<ol class="breadcrumb">
    <li><a href="/admin/category">分类管理</a></li>
    <li  class="active">分类首页</li>
</ol>
<H3>分类列表</H3>
{% include 'common/paging.html'%}
<table class="table  table-striped table-hover">
    <tr class="active">
        <th>ID</th>
        <th>分类名称</th>
        <th>操作处理</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{category._id.toString()}}</td>
        <td>{{category.name}}</td>
        <td><a href="/admin/category/edit?id={{category._id.toString()}}">修改</a>/<a href="/admin/category/delete?id={{category._id.toString()}}">删除</a></td>
    </tr>
    {% endfor %}
</table>
{% include 'common/paging.html'%}
{% endblock %}